@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Montserrat&family=Poppins:wght@800&family=Shadows+Into+Light&display=swap');

body {
    
    background: url('preloader.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.typewrite {
    color: red;
    text-decoration: none;
    position: relative;
    top: 6rem;
    left: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 25px;
    background: #2925A1;
    background: linear-gradient(to bottom, #2925A1 0%, #2AD1D1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button {
    position: relative;
    left: 3rem;
    top: 7rem;
}

.button button {
    font-size: 1rem;
    padding: 10px;
    background: rgb(59, 71, 142);
    background: linear-gradient(90deg, rgba(59, 71, 142, 1) 34%, rgba(4, 199, 196, 1) 79%);
    color: white;
    font-family: 'Poppins', sans-serif;
    border: 1px solid transparent;
    border-radius: 25px;

}

.button button:hover {
    cursor: pointer;
}